pytest==8.3.5
python_Testing_Utilities==0.1.11

# The following lines copied from main code requirements
## can't copy whole file due to dependencies
pytz==2025.2
baseapp_for_restapi_backend_with_swagger==0.5.44
requests==2.31.0
