pytest==7.1.2
python_Testing_Utilities==0.1.9

# The following lines copied from main code requirements
## can't copy whole file due to dependencies
pytz==2025.2
baseapp_for_restapi_backend_with_swagger==0.5.43
requests==2.28.1
