name: build_localdev_version

on:
  workflow_dispatch:

jobs:
  build_root_var:
    runs-on: ubuntu-latest

    steps:
      # === prepare stage ===
      - name: Checkout repo
        uses: actions/checkout@v4

      # === build stage ===

      - name: Unit tests
        run: |
          source ./_repo_vars.sh && \
          echo "Running uint tests for ${PROJECT_NAME}" && \
          docker run --rm -v "$PWD/services:/opt/services" -w /opt/services \
            ${RJM_PYTHON_TEST_IMAGE} \
            sh -c "pip3 install --no-cache-dir -r ./src/requirements.txt && \
                   pip3 install --no-cache-dir -r ./testContainer/requirements.txt && \
                   SKIPSQLALCHEMYTESTS=Y python3 -m pytest ./test"

      - name: Build frontend
        run: |
          source ./_repo_vars.sh && \
          docker run --rm -v "$PWD:/opt/work" -w /opt/work \
            ${QUASARBUILDIMAGE} \
            -c "build_quasar_app ./frontend spa ${RJM_VERSION}"

      - name: Build adminfrontend
        run: |
          source ./_repo_vars.sh && \
          docker run --rm -v "$PWD:/opt/work" -w /opt/work \
            -e OVERRIDE_PUBLIC_PATH="saas_user_management/v${RJM_MAJOR_VERSION}/public/web/adminfrontend/" \
            ${QUASARBUILDIMAGE_ADMINFRONTEND} \
            -c "build_quasar_app ./adminfrontend pwa ${RJM_VERSION} 1536"

      - name: Build main image
        run: |
          source ./_repo_vars.sh && \
          docker build -t metcarob/saas_user_management:${RJM_VERSION} .

      - name: Build test image
        run: |
          source ./_repo_vars.sh && \
          docker build -t metcarob/saas_user_managementtest:develop \
            -f services/testContainer/Dockerfile services/testContainer

      - name: Container level tests
        run: |
          source ./_repo_vars.sh && \
          docker compose -f .github/compose-test.yml up --abort-on-container-exit --exit-code-from saas_user_management_systemtest

      # === buildrootver stage ===

      - name: Clean previous adminfrontend build
        run: |
          source ./_repo_vars.sh && \
          echo "Deleting ./adminfrontend/dist/pwa..."
          docker run --rm \
            -v "$PWD:/work" \
            -w /work \
            ${QUASARBUILDIMAGE_ADMINFRONTEND} \
            -c "rm -rf ./adminfrontend/dist/pwa"
          echo "Directory deleted successfully."

      - name: Build adminfrontend root version
        run: |
          source ./_repo_vars.sh && \
          docker run --rm -v "$PWD:/opt/work" -w /opt/work \
            -e OVERRIDE_PUBLIC_PATH="" \
            ${QUASARBUILDIMAGE_ADMINFRONTEND} \
            -c "build_quasar_app ./adminfrontend pwa ${RJM_VERSION} 1536"

      - name: Build rootver docker image
        run: |
          source ./_repo_vars.sh && \
          docker build -t metcarob/saas_user_management:${RJM_VERSION}_rootver .

      - name: Read Docker credentials from Vault
        uses: hashicorp/vault-action@v3
        with:
          url: ${{ secrets.VAULT_ADDR }}
          token: ${{ secrets.VAULT_TOKEN }}
          secrets: |
            kv/robert_accounts/dockerhub/personal_access_tokens/saas_user_management_system_deployment docker_username=username docker_password=password

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ env.docker_username }}
          password: ${{ env.docker_password }}

      - name: Push rootver image
        run: |
          source ./_repo_vars.sh && \
          docker push metcarob/saas_user_management:${RJM_VERSION}_rootver
