name: build_localdev_version

on:
  workflow_dispatch:

jobs:
  build_root_var:
    runs-on: ubuntu-latest

    steps:
      # === prepare stage ===
      - name: Checkout repo
        uses: actions/checkout@v4

      # === build stage ===
      - name: Read Docker credentials from Vault
        uses: hashicorp/vault-action@v3
        with:
          url: ${{ secrets.VAULT_ADDR }}
          method: approle
          roleId: ${{ secrets.VAULT_ROLE_ID }}
          secretId: ${{ secrets.VAULT_SECRET_ID }}
          exportEnv: true
          secrets: |
            kv/data/robert_accounts/dockerhub/personal_access_tokens/saas_user_management_system_deployment username | DOCKER_USERNAME ;
            kv/data/robert_accounts/dockerhub/personal_access_tokens/saas_user_management_system_deployment password | DOCKER_PASSWORD ;
            kv/data/memset/deployment/ssh SSH_KEY | SSH_KEY ;
            kv/data/memset/deployment/ssh SPLIT_CHAR | SPLIT_CHAR ;
            kv/data/memset/deployment/ssh SSH_PORT | SSH_PORT ;
            kv/data/memset/deployment/ssh SSH_HOST | SSH_HOST ;
            kv/data/memset/deployment/ssh SSH_USER | SSH_USER

      - name: Unit tests
        run: |
          source ./_repo_vars.sh && \
          echo "Running uint tests for ${PROJECT_NAME}" && \
          docker run --rm -v "$PWD/services:/opt/services" -w /opt/services \
            ${RJM_PYTHON_TEST_IMAGE} \
            sh -c "pip3 install --no-cache-dir -r ./src/requirements.txt && \
                   pip3 install --no-cache-dir -r ./testContainer/requirements.txt && \
                   SKIPSQLALCHEMYTESTS=Y python3 -m pytest ./test"

      - name: Build frontend
        run: |
          source ./_repo_vars.sh && \
          docker run --rm -v "$PWD:/opt/work" -w /opt/work \
            ${QUASARBUILDIMAGE} \
            -c "build_quasar_app ./frontend spa ${RJM_VERSION}"

      - name: Build adminfrontend
        run: |
          source ./_repo_vars.sh && \
          docker run --rm -v "$PWD:/opt/work" -w /opt/work \
            -e OVERRIDE_PUBLIC_PATH="saas_user_management/v${RJM_MAJOR_VERSION}/public/web/adminfrontend/" \
            ${QUASARBUILDIMAGE_ADMINFRONTEND} \
            -c "build_quasar_app ./adminfrontend pwa ${RJM_VERSION} 1536"

      - name: Build main image
        run: |
          source ./_repo_vars.sh && \
          docker build -t metcarob/saas_user_management:${RJM_VERSION} .

      - name: Build test image
        run: |
          source ./_repo_vars.sh && \
          docker build -t metcarob/saas_user_managementtest:develop \
            -f services/testContainer/Dockerfile services/testContainer

      - name: Container level tests
        run: |
          source ./_repo_vars.sh && \
          docker compose -f .github/compose-test.yml up --abort-on-container-exit --exit-code-from saas_user_management_systemtest

      # === buildrootver stage ===

      - name: Clean previous adminfrontend build
        run: |
          source ./_repo_vars.sh && \
          echo "Deleting ./adminfrontend/dist/pwa..."
          docker run --rm \
            -v "$PWD:/work" \
            -w /work \
            ${QUASARBUILDIMAGE_ADMINFRONTEND} \
            -c "rm -rf ./adminfrontend/dist/pwa"
          echo "Directory deleted successfully."

      - name: Build adminfrontend root version
        run: |
          source ./_repo_vars.sh && \
          docker run --rm -v "$PWD:/opt/work" -w /opt/work \
            -e OVERRIDE_PUBLIC_PATH="" \
            ${QUASARBUILDIMAGE_ADMINFRONTEND} \
            -c "build_quasar_app ./adminfrontend pwa ${RJM_VERSION} 1536"

      - name: Build rootver docker image
        run: |
          source ./_repo_vars.sh && \
          docker build -t metcarob/saas_user_management:${RJM_VERSION}_rootver .

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ env.DOCKER_USERNAME }}
          password: ${{ env.DOCKER_PASSWORD }}

      - name: Push images to dockehub
        run: |
          source ./_repo_vars.sh && \
          docker push metcarob/saas_user_management:${RJM_VERSION}_rootver
          docker push metcarob/saas_user_management:${RJM_VERSION}

      - name: Configure SSH
        run: |
          mkdir -p ~/.ssh
          # Convert the split-char SSH key back into a real multiline key
          echo "${SSH_KEY}" | sed "s/${SPLIT_CHAR}/\n/g" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          # Add host to known_hosts
          ssh-keyscan -p "${SSH_PORT}" "${SSH_HOST}" >> ~/.ssh/known_hosts          

      # Artifacts created now deploy to server
      - name: Deploy Docker Service to Swarm
        run: |
          source ./_repo_vars.sh && \
          ssh -p "${SSH_PORT}" \
            -i ~/.ssh/id_rsa \
            "${SSH_USER}@${SSH_HOST}" \
            bash -s << EOF
  
          docker service create --name "${RJM_DOCKER_SERVICE_NAME}" \
            --network main_net \
            --secret saas_user_management_system_objectstore_config_dynamodb \
            --secret saas_user_management_system_objectstore_hashpw \
            --secret saas_user_management_system_objectstore_adminpw \
            --secret saas_user_management_system_gateway_config \
            --secret saas_jwtsecret \
            --secret saas_user_management_system_authprov_google \
            --secret saas_user_management_system_authprov_facebook \
            -e APIAPP_JWTSECRETFILE=/run/secrets/saas_jwtsecret \
            -e APIAPP_GATEWAYINTERFACECONFIGFILE=/run/secrets/saas_user_management_system_gateway_config \
            -e APIAPP_OBJECTSTORECONFIGFILE=/run/secrets/saas_user_management_system_objectstore_config_dynamodb \
            -e APIAPP_MASTERPASSWORDFORPASSHASHFILE=/run/secrets/saas_user_management_system_objectstore_hashpw \
            -e APIAPP_DEFAULTHOMEADMINPASSWORDFILE=/run/secrets/saas_user_management_system_objectstore_adminpw \
            -e APIAPP_DEFAULTHOMEADMINUSERNAME=admin \
            -e APIAPP_APIURL=https://api.metcarob.com/api \
            -e APIAPP_APIDOCSURL=https://api.metcarob.com/saas_user_management/v${RJM_MAJOR_VERSION}/public/web/apidocs \
            -e APIAPP_FRONTENDURL=https://api.metcarob.com/saas_user_management/v${RJM_MAJOR_VERSION}/public/web/frontend \
            -e APIAPP_DEFAULTMASTERTENANTJWTCOLLECTIONALLOWEDORIGINFIELD="https://api.metcarob.com,https://localhost,http://localhost" \
            -e APIAPP_OBJECTSTOREDETAILLOGGING="N" \
            --constraint 'node.labels.legacy == true' \
            "metcarob/saas_user_management:${RJM_VERSION}"
  
          EOF

      - name: Configure Kong test container endpoint
        with:
          max_attempts: 3
          retry_wait_seconds: 3
          retry_on: error
        run: |
          source ./_repo_vars.sh && \
          ssh -p "${SSH_PORT}" \
            -i ~/.ssh/id_rsa \
            "${SSH_USER}@${SSH_HOST}" \
            bash -s << EOF
              docker run --rm -it --network main_net --entrypoint kong_install_service_and_route
              ${RJM_DOCKERWSCALLER_IMAGE}
              ${RJM_DOCKER_KONG_API_URL}
              ${PROJECT_NAME}_v${RJM_MAJOR_VERSION}_TEST_PUBLIC http ${RJM_DOCKER_SERVICE_URL} 80 /public/
              https api.metcarob.com /${PROJECT_NAME}/test/v${RJM_MAJOR_VERSION}/public null null null true

          EOF

      - name: Configure Kong test authed container endpoint
        with:
          max_attempts: 3
          retry_wait_seconds: 3
          retry_on: error
        run: |
          source ./_repo_vars.sh && \
          ssh -p "${SSH_PORT}" \
            -i ~/.ssh/id_rsa \
            "${SSH_USER}@${SSH_HOST}" \
            bash -s << EOF
              docker run --rm -it --network main_net --entrypoint kong_install_service_and_route
              ${RJM_DOCKERWSCALLER_IMAGE}
              ${RJM_DOCKER_KONG_API_URL}
              ${PROJECT_NAME}_v${RJM_MAJOR_VERSION}_TEST_AUTHED http ${RJM_DOCKER_SERVICE_URL} 80 /authed/
              https api.metcarob.com /${PROJECT_NAME}/test/v${RJM_MAJOR_VERSION}/authed null null null true

          EOF

      #endpoints are secured the first time they are created. This will add the plugins only if they are not there
      - name: Add security plugins for test
        with:
          max_attempts: 3
          retry_wait_seconds: 3
          retry_on: error
        run: |
          source ./_repo_vars.sh && \
          ssh -p "${SSH_PORT}" \
            -i ~/.ssh/id_rsa \
            "${SSH_USER}@${SSH_HOST}" \
            bash -s << EOF
              docker run --rm -it --network main_net --entrypoint kong_add_jwt_and_acl_plugins
              ${RJM_DOCKERWSCALLER_IMAGE}
              ${RJM_DOCKER_KONG_API_URL}
              ${PROJECT_NAME}_v${RJM_MAJOR_VERSION}_TEST_AUTHED
              \"${JWT_COOKIE_NAME}\"
              \"${AUTHED_ACL_WHITELIST}\"
              \"${AUTHED_ACL_BLACKLIST}\"
              \"kong_iss\"          

          EOF

      - name: Test the newly deployed container using test endpoint
        with:
          max_attempts: 3
          retry_wait_seconds: 3
          retry_on: error
        run: |
          source ./_repo_vars.sh && \
          docker run --rm \
            -e EXPECTED_CONTAINER_VERSION=${RJM_VERSION}
            -e BASEURL_TO_TEST=https://api.metcarob.com/${PROJECT_NAME}/test/v${RJM_MAJOR_VERSION}
            -e HTTPORIGIN_TO_TEST=https://api.metcarob.com
            -e RUNNINGVIAKONG="TRUE"
            -e APIAPP_DEFAULTHOMEADMINUSERNAME=codefresh_test_user
            -e APIAPP_DEFAULTHOMEADMINPASSWORD=CODEFRESH_TEST_USER_PASSWORD
            metcarob/saas_user_managementtest:develop \
            python3 -m pytest /ext_volume

      - name: Configure Kong prod container endpoint
        with:
          max_attempts: 3
          retry_wait_seconds: 3
          retry_on: error
        run: |
          source ./_repo_vars.sh && \
          ssh -p "${SSH_PORT}" \
            -i ~/.ssh/id_rsa \
            "${SSH_USER}@${SSH_HOST}" \
            bash -s << EOF
              docker run --rm -it --network main_net --entrypoint kong_install_service_and_route
              ${RJM_DOCKERWSCALLER_IMAGE}
              ${RJM_DOCKER_KONG_API_URL}
              ${PROJECT_NAME}_v${RJM_MAJOR_VERSION}_PUBLIC http ${RJM_DOCKER_SERVICE_URL} 80 /public/
              https api.metcarob.com /${PROJECT_NAME}/v${RJM_MAJOR_VERSION}/public null null null true

          EOF

      - name: Configure Kong prod authed container endpoint
        with:
          max_attempts: 3
          retry_wait_seconds: 3
          retry_on: error
        run: |
          source ./_repo_vars.sh && \
          ssh -p "${SSH_PORT}" \
            -i ~/.ssh/id_rsa \
            "${SSH_USER}@${SSH_HOST}" \
            bash -s << EOF
              docker run --rm -it --network main_net --entrypoint kong_install_service_and_route
              ${RJM_DOCKERWSCALLER_IMAGE}
              ${RJM_DOCKER_KONG_API_URL}
              ${PROJECT_NAME}_v${RJM_MAJOR_VERSION}_AUTHED http ${RJM_DOCKER_SERVICE_URL} 80 /authed/
              https api.metcarob.com /${PROJECT_NAME}/v${RJM_MAJOR_VERSION}/authed null null null true

          EOF

      #endpoints are secured the first time they are created. This will add the plugins only if they are not there
      - name: Add security plugins
        with:
          max_attempts: 3
          retry_wait_seconds: 3
          retry_on: error
        run: |
          source ./_repo_vars.sh && \
          ssh -p "${SSH_PORT}" \
            -i ~/.ssh/id_rsa \
            "${SSH_USER}@${SSH_HOST}" \
            bash -s << EOF
              docker run --rm -it --network main_net --entrypoint kong_add_jwt_and_acl_plugins
              ${RJM_DOCKERWSCALLER_IMAGE}
              ${RJM_DOCKER_KONG_API_URL}
              ${PROJECT_NAME}_v${RJM_MAJOR_VERSION}_AUTHED
              \"${JWT_COOKIE_NAME}\"
              \"${AUTHED_ACL_WHITELIST}\"
              \"${AUTHED_ACL_BLACKLIST}\"
              \"kong_iss\"          

          EOF

      - name: Configure Kong prod upstream
        with:
          max_attempts: 3
          retry_wait_seconds: 3
          retry_on: error
        run: |
          source ./_repo_vars.sh && \
          ssh -p "${SSH_PORT}" \
            -i ~/.ssh/id_rsa \
            "${SSH_USER}@${SSH_HOST}" \
            bash -s << EOF
            docker run --rm -it --network main_net --entrypoint kong_add_upstream
              ${RJM_DOCKERWSCALLER_IMAGE}
              ${RJM_DOCKER_KONG_API_URL}
              ${RJM_KONG_UPSTREAM_NAME}
              ${RJM_DOCKER_SERVICE_URL}:80
              remove_other_targets          

          EOF

      # no longer approve cleanup old version - just go straight ahead and cleanup

      - name: Clean up old versions
        with:
          max_attempts: 3
          retry_wait_seconds: 3
          retry_on: error
        run: |
          source ./_repo_vars.sh && \
          ssh -p "${SSH_PORT}" \
            -i ~/.ssh/id_rsa \
            "${SSH_USER}@${SSH_HOST}" \
            bash -s << EOF
              docker run --rm -it --network main_net --volume=/var/run:/var/run --entrypoint docker_service_remove_non_live
                ${RJM_DOCKERWSCALLER_IMAGE}
                ${PROJECT_NAME}
                ${RJM_VERSION}
                metcarob/

          EOF
